.modal
    overflow-y: auto
    font-family: Montserrat, sans-serif
    &__overlay
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        background-color: rgba(0, 0, 0, 0.8)
        z-index: 199
        visibility: hidden
        opacity: 0
        transition: all .2s
        &.active
            visibility: visible
            opacity: 1
            transition: all .2s
    &__dialog
        position: fixed
        top: 50%
        left: 50%
        max-width: 700px
        height: fit-content
        // height: 80% Фикс вертикального скролла
        padding: 30px 50px
        background-color: $dark-blue
        transform: translate(-50%, -50%)
        color: $black
        border-radius: 10px
        z-index: 200
        visibility: hidden
        opacity: 0
        transition: all .2s
        &.active
            visibility: visible
            overflow-y: auto
            opacity: 1
            transition: all .2s
    &__close
        position: absolute
        right: 30px
        top: 10px
        font-size: 20px
        font-weight: 600
        text-decoration: none
        color: $black
        transition: scale .1s
        &:active
            scale: .7
    &-content
        &__photo
            overflow: hidden
            &--img
                width: 100%
                height: 300px
                object-fit: cover
        &__title
            font-family: Playfair Display, sans-serif
            font-size: 28px
            margin-bottom: 10px

@media (max-width: 992px)
    .modal
        &__dialog
            width: 70%