@import "header"
@import "variables"
@import "hero"
@import "portfolio"
@import "prices"

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth
    &::-webkit-scrollbar
        width: 5px
        background-color: $light-black
        border-radius: 5px
        height: 100px
    &::-webkit-scrollbar-thumb
        background: $black
        border-radius: 5px
.container
    max-width: 1110px
    margin: 0 auto
    font-family: 'Playfair Display', serif

.button
    text-decoration: none
    color: $white
    cursor: pointer
    font-family: 'Poppins', sans-serif
    font-style: normal
    &:active
        scale: 90%

.title
    font-size: 40px

.subtitle
    font-family: "Poppins", sans-serif
    color: $light-black
    font-weight: 600
    font-size: 14px